<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>   
 
<!-- Main Content -->
 <main class="container">
 
    <div class="art-content-layout-wrapper layout-item-0">
      <h4 class="media-heading"><%=title %></h4>
      <div class="art-content-layout" style="width: 50%;">
      trtd
      </div>
    </div>
  </div>
 </main>
 <%- include partials/footer.ejs%> 
  
